@model IEnumerable<FredsBoats.Web.Models.Customer>
@{
 ViewData["Title"] = "Customers";
}
<h1>Customer List</h1>
<p>
 <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
 <thead>
 <tr>
 <th>@Html.DisplayNameFor(model => model.Name)</th>
 <th>@Html.DisplayNameFor(model => model.Surname)</th>
 <th>@Html.DisplayNameFor(model => model.Address)</th>
 <th>@Html.DisplayNameFor(model => model.Telephone)</th>
 <th>@Html.DisplayNameFor(model => model.Licence)</th>
 </tr>
 </thead>
 <tbody>
@foreach (var item in Model) {
 <tr>
 <td>@Html.DisplayFor(modelItem => item.Name)</td>
 <td>@Html.DisplayFor(modelItem => item.Surname)</td>
 <td>@Html.DisplayFor(modelItem => item.Address)</td>
 <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
 <td>
 @if(item.Licence) { <span>✅ Yes</span> } else { <span>❌
No</span> }
 </td>
 </tr>
}
 </tbody>
</table>
